doc/flows.json
[
	{
		"id": "3071663e.be3c82",
		"type": "debug",
		"z": "64eedace.95536c",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 530,
		"y": 80,
		"wires": []
	},
	{
		"id": "48350dc.263dff4",
		"type": "ui-upload",
		"z": "64eedace.95536c",
		"group": "27f0900d.f39298",
		"title": "",
		"name": "Large file",
		"order": 0,
		"width": 0,
		"height": 5,
		"chunk": "1024",
		"x": 140,
		"y": 80,
		"wires": [
			[
				"d8ea206e.93904"
			]
		]
	},
	{
		"id": "d8ea206e.93904",
		"type": "split",
		"z": "64eedace.95536c",
		"name": "",
		"splt": "\\n",
		"spltType": "str",
		"arraySplt": 1,
		"arraySpltType": "len",
		"stream": true,
		"addname": "",
		"x": 310,
		"y": 80,
		"wires": [
			[
				"3071663e.be3c82"
			]
		]
	},
	{
		"id": "efe1a678.f7329",
		"type": "debug",
		"z": "64eedace.95536c",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 530,
		"y": 180,
		"wires": []
	},
	{
		"id": "bf6ad70c.b1237",
		"type": "join",
		"z": "64eedace.95536c",
		"name": "",
		"mode": "auto",
		"build": "string",
		"property": "payload",
		"propertyType": "msg",
		"key": "topic",
		"joiner": "\\n",
		"joinerType": "str",
		"accumulate": false,
		"timeout": "",
		"count": "",
		"reduceRight": false,
		"reduceExp": "",
		"reduceInit": "",
		"reduceInitType": "",
		"reduceFixup": "",
		"x": 310,
		"y": 180,
		"wires": [
			[
				"efe1a678.f7329"
			]
		]
	},
	{
		"id": "1de4a6d8.e93a39",
		"type": "comment",
		"z": "64eedace.95536c",
		"name": "Split stream by line",
		"info": "",
		"x": 350,
		"y": 40,
		"wires": []
	},
	{
		"id": "a724cd7c.766688",
		"type": "ui-upload",
		"z": "64eedace.95536c",
		"group": "27f0900d.f39298",
		"title": "",
		"name": "Medium file",
		"order": 0,
		"width": 0,
		"height": 5,
		"chunk": "1024",
		"x": 150,
		"y": 180,
		"wires": [
			[
				"bf6ad70c.b1237"
			]
		]
	},
	{
		"id": "45f4a142.c6956",
		"type": "comment",
		"z": "64eedace.95536c",
		"name": "Join chunks into a single string",
		"info": "",
		"x": 390,
		"y": 140,
		"wires": []
	},
	{
		"id": "27f0900d.f39298",
		"type": "ui_group",
		"z": "",
		"name": "Default",
		"tab": "28a2abb.2c733d4",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "28a2abb.2c733d4",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]
