doc/flow.json
[
	{
		"id": "e9ceff95.5b7cf8",
		"type": "debug",
		"z": "d9a661f4.ef966",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 490,
		"y": 1120,
		"wires": []
	},
	{
		"id": "790a30ff.9f0ba",
		"type": "ui_upload",
		"z": "d9a661f4.ef966",
		"group": "2096c0c6.23221",
		"title": "",
		"name": "Large file",
		"order": 0,
		"width": 0,
		"height": 5,
		"chunk": "256",
		"transfer": "text",
		"x": 100,
		"y": 1120,
		"wires": [
			[
				"d735a2f5.6c56e8"
			]
		]
	},
	{
		"id": "d735a2f5.6c56e8",
		"type": "split",
		"z": "d9a661f4.ef966",
		"name": "",
		"splt": "\\n",
		"spltType": "str",
		"arraySplt": 1,
		"arraySpltType": "len",
		"stream": true,
		"addname": "",
		"x": 270,
		"y": 1120,
		"wires": [
			[
				"e9ceff95.5b7cf8"
			]
		]
	},
	{
		"id": "d3153bc1.18c0d8",
		"type": "debug",
		"z": "d9a661f4.ef966",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"x": 490,
		"y": 1220,
		"wires": []
	},
	{
		"id": "7477a60d.931fc",
		"type": "join",
		"z": "d9a661f4.ef966",
		"name": "",
		"mode": "auto",
		"build": "string",
		"property": "payload",
		"propertyType": "msg",
		"key": "topic",
		"joiner": "\\n",
		"joinerType": "str",
		"accumulate": false,
		"timeout": "",
		"count": "",
		"reduceRight": false,
		"reduceExp": "",
		"reduceInit": "",
		"reduceInitType": "",
		"reduceFixup": "",
		"x": 270,
		"y": 1220,
		"wires": [
			[
				"d3153bc1.18c0d8"
			]
		]
	},
	{
		"id": "c070aed6.e9f64",
		"type": "comment",
		"z": "d9a661f4.ef966",
		"name": "Split stream by line",
		"info": "",
		"x": 310,
		"y": 1080,
		"wires": []
	},
	{
		"id": "43043b4b.47a7a4",
		"type": "ui_upload",
		"z": "d9a661f4.ef966",
		"group": "2096c0c6.23221",
		"title": "",
		"name": "Medium file",
		"order": 0,
		"width": 0,
		"height": 5,
		"chunk": "256",
		"transfer": "text",
		"x": 110,
		"y": 1220,
		"wires": [
			[
				"7477a60d.931fc"
			]
		]
	},
	{
		"id": "d4ae187.03bd268",
		"type": "comment",
		"z": "d9a661f4.ef966",
		"name": "Join chunks into a single string",
		"info": "",
		"x": 350,
		"y": 1180,
		"wires": []
	},
	{
		"id": "2096c0c6.23221",
		"type": "ui_group",
		"z": "",
		"name": "Default",
		"tab": "2b0ed5b4.6092ca",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "2b0ed5b4.6092ca",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]